<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<title>{TITLE} - Yaguar</title>


<meta name="description" content="{DESCRIPTION}" />
<meta name="keywords" content="{KEYWORDS}" />

<style type="text/css" media="all">
	@import "/css/default.css";
	@import "/css/styles.css";
 </style>
 
  <link rel="stylesheet" href="/css/nivo-slider.css" type="text/css" media="screen" />
  <script type="text/javascript" src="/js/jquery-1.4.3.min.js"></script>
  
  <script type="text/javascript" src="/js/jquery.easing.1.3.js"></script> 
<script type="text/javascript" src="/js/jquery.galleryview-1.1.js"></script> 
<script type="text/javascript" src="/js/jquery.timers-1.1.2.js"></script>


<script type="text/javascript"> 
	$(document).ready(function(){
		$('#photos').galleryView({
			filmstrip_size: 4,
			frame_width: 147,
			frame_height: 206,
			 background_color: 'transparent',
			nav_theme: 'dark',
			border: 'none',
			show_captions:true,
			caption_text_color: 'black'
		});
	});
</script> 
  
  <script type="text/javascript" src="/js/jquery.nivo.slider.pack.js"></script>
  <script type="text/javascript">

    $(window).load(function() {

       $('#slider').nivoSlider({
			 effect:'sliceUpDown,fade,boxRain',
			 controlNav:true,
			 directionNav:false, 
        	 directionNavHide:false,
			 pauseTime:3000
	   });

    });

    </script>

<link rel="stylesheet" type="text/css" href="/css/style.css" />
<link rel="stylesheet" type="text/css" href="/css/jquery.jscrollpane.css" media="all" />


 
</head>

<body>
<table width="1010" border="0" align="center" cellpadding="0" cellspacing="0">
  <tr>
    <td align="left" valign="top" class="top"><table width="100%" border="0" cellspacing="0" cellpadding="0">
      <tr>
        <td width="350" align="left" valign="top"><a href="/"><img src="/img/logo.png" width="350" height="113" alt="" /></a></td>
        <td align="left" valign="top">&nbsp;</td>
        <td width="160" align="left" valign="middle"><div class="cart">
          {SHOPPING_CART}</td>
        <td style="padding:10px 0 0 0" width="120" align="left" valign="top"><img src="/img/cart.png" alt="" /></td>
      </tr>
      <tr>
        <td class="mainmenu" colspan="4" align="left" valign="top">
        
        {MAINMENU}
        <!--
        <a href="#">про магазин</a><img src="/img/clear.gif" alt="" width="1" height="1" hspace="25" /><a href="#">каталог</a><img src="/img/clear.gif" alt="" width="1" height="1" hspace="25" /><a href="#">акції</a><img src="/img/clear.gif" alt="" width="1" height="1" hspace="25" /><a href="#">наші партнери</a><img src="/img/clear.gif" alt="" width="1" height="1" hspace="25" /><a href="#">контакти</a>
        -->
        </td>
        </tr>
      <tr>
        <td colspan="4" align="right" valign="middle" class="search">
			<form id="search" name="search" method="post" action="/{LANG}/search.html">
			  <input class="search-input" onfocus="if (this.value == 'пошук...') {this.value = '';}" onblur="if (this.value == '') {this.value = 'пошук...';}" value="пошук..." type="text" name="search" id="search" />
			  <input type="image" src="/img/search.png" name="button" id="button" value="Отправить" />
			</form>
		</td>
      </tr>
    </table></td>
  </tr>
  <tr>
    <td height="44" align="left" valign="top">&nbsp;</td>
  </tr>
</table>


<table width="936" border="0" align="center" cellpadding="0" cellspacing="0">
<tr>
    <td align="center" valign="top">
    <div id="slider">
     <img src="/img/slider.jpg" width="936" height="428" alt="" />
     <img src="/img/slider1.jpg" width="936" height="428" alt="" />
    <img src="/img/slider2.jpg" width="936" height="428" alt="" />
	</div>
        

    </td>
  </tr>
  <tr>
    <td height="32" align="left" valign="top">&nbsp;</td>
  </tr>
  <tr>
    <td align="left" valign="top"><table width="100%" border="0" cellspacing="0" cellpadding="0">
      <tr>
        <td width="269" align="left" valign="top"><div class="catalog_title"><a href="/{LANG}/catalog.html">каталог</a></div>
          <br />
          <div class="catalog_menu">
            
            {CATALOG_MENU}
           <!-- 
            <div><a href="#">чоловічий одяг</a></div>
            <div><a href="#">жіночий одяг</a></div>
            <div><a href="#">новинки</a></div>
             -->
          </div>
          
          <div class="news_title"><a href="/{LANG}/news.html"></>новини</a></div>
          <br />
          <img src="/img/gifts.jpg" />
          <br />
          <form class="subscribe" id="subscribe" name="subscribe" method="post" action="/{LANG}/subscribe.html">
			  <input onfocus="if (this.value == 'ваш e-mail') {this.value = '';}" onblur="if (this.value == '') {this.value = 'ваш e-mail';}" value="ваш e-mail" class="subscribe_input" type="text" name="subscribe_email" id="subscribe_email" />
			  <br /><br />
			  <input class="subscribe_submit" type="submit" name="button" id="button" value="підписатись" />
		   </form>
          
          
          </td>
        <td align="left" valign="top"> <h1>{HEADLINE}</h1><br /><br />
          <div>{LAST_ITEMS}</div><br />
          {CONTENT}</td>
      </tr>
    </table></td>
  </tr>
  <tr>
    <td align="left" valign="top">&nbsp;</td>
  </tr>
  <tr>
    <td align="left" valign="top" class="dots">&nbsp;</td>
  </tr>
  <tr>
    <td height="124" align="right" valign="top"><img src="/img/soc_icons.jpg" alt="" width="336" height="37" usemap="#Map" border="0" /></td>
  </tr>
  </table>
  

		<script type="text/javascript" src="/js/jquery.easing.1.3.js"></script>
		<!-- the jScrollPane script -->
		<script type="text/javascript" src="/js/jquery.mousewheel.js"></script>
		<script type="text/javascript" src="/js/jquery.contentcarousel.js"></script>
<map name="Map" id="Map"><area shape="circle" coords="315,18,19" href="http://www.odnoklassniki.ru/profile/559340802943" target="_blank" />
  <area shape="circle" coords="118,19,19" href="https://www.facebook.com/yaguarshop?ref=tn_tnmn" target="_blank" />
  <area shape="circle" coords="68,18,19" href="https://vk.com/vnizimin" target="_blank" />
</map>
<script type="text/javascript">
			$('#ca-container').contentcarousel();
		</script>
</body>
</html>
